body {	 
	margin: 0;
	padding: 0;
	font-family:verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
    font-size:13px;
    color:#555;
    line-height:20px;
    background-color:#fff;
    text-align:center;
    border:0;
}

a {
	color: #505050;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #808080;
	text-decoration: underline;
}

p {
	line-height: 1.5em;
	margin: 0 0 15px;
}

/*** Main container ***/
#container {
	background: #f0f0f0 url(../images/bodybg.jpg) repeat-x;
	color: #303030;
	margin: 0;
	min-width: 770px;
	padding: 0;
	text-align: left;
	width: 100%;
}

/*** Header section ***/
#sitename {
	color: #ffffff;
	height: 92px;
	margin: 0 20px 10px;
	text-align: left;
}

#sitename h1,#sitename h2 {
	font-weight: 400;
	letter-spacing: -2px;
	margin: 0;
	padding: 0;
}

#sitename h1 {
	font-size: 2.4em;
	padding-top: 20px;
}

#sitename h2 {
	font-size: 1.6em;
}

/*** Horizontal menu ***/
#mainmenu {
	float: left;
	margin-bottom: 25px;
}

#mainmenu ul {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#mainmenu li {
	float: left;
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainmenu a {
	border-right: 1px solid #b0b0b0;
	color: #606060;
	display: block;
	font-size: 0.7em;
	padding: 5px 10px 10px;
	text-transform: uppercase;
}

#mainmenu a:hover {
	background: #f0f0f0 url(../images/menuhover.jpg) top left repeat-x;
	color: #505050;
	text-decoration: none;
}

#mainmenu a.current {
	background: #f0f0f0 url(../images/menuhover.jpg) top left repeat-x;
	color: #505050;
	text-decoration: none;
}
.divider {
	background: url(../images/divider.gif) no-repeat;
	height: 24px;
	margin: 16px 0;
}


/*** Content wrap ***/
#wrap {
	clear: both;
	font-size: 0.9em;
	padding: 0;
}

/*** Sidebars ***/
#leftside,#rightside {
	margin: 0;
	padding: 0 10px 10px;
	width: 165px;
}

#leftside {
	float: left;
	margin-right: 10px;
}

#rightside {
	float: right;
	margin-left: 10px;
}



#leftside h1,#rightside h1 {
	color: #505050;
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0 0 12px;
}

#leftside h2,#rightside h2 {
	font-size: 1.1em;
	margin: 0 0 20px;
}

#leftside p,#rightside p {
	font-size: 0.9em;
	line-height: 1.4em;
	margin: 0 0 16px 10px;
}
.col {
	float: left;
	position: relative;
}
#rightbar {
	margin-top: 30px;
}
#rightbar .rightbar-item {
	clear: left;
	margin-bottom: 10px;
	margin-left: 20px;
}
#sponsor-space {
	width: 500px;
	height: 550px;
	text-align: center;
}
#sponsor-space a {
	text-decoration: none;
	color: #366896;
}
.rightbar-item h3 {
	color: #366896;
}
.rightbar-item ul {
	list-style-type: none;
	text-align: left;
	padding: 0;
}
.rightbar-item ul li {
	float: left;
	font-size: 14px;
	clear:left;
	margin-bottom: 5px;
}
.rightbar-item ul li.separator {
	float: none;
	background-color: transparent;
	height: 0;
	font-size: 0; /* for ie6 */
	border-bottom: 1px dashed #68a7ee;
}
.rightbar-item div.separator {
	float: none;
	clear: both;
	background-color: transparent;
	border-bottom: 1px dashed #68a7ee;
	margin-bottom: 5px;
}
.rightbar-item ul li a {
	display: block;
	float: left;
	height: 25px;
	line-height: 25px;
	text-decoration: none;
	color: #c52c23;
	background: #ddd none;
	padding: 0 5px;
}
.rightbar-item ul li a:hover {
	color: #fff;
	background-color: #366896;
}
.rightbar-item ul li a.active {
	color: #fff;
	background-color: #73966f;
}
#rightbar .rightbar-item p {
	font-size: 14px;
}
.linklist {
	list-style: none;
	margin: 0 0 16px 10px;
	padding: 0;
}

.linklist li {
	margin-bottom: 0.7em;
}

/*** Sidebar menu ***/
.nav {
	background: #e8e9ea;
	border: 1px solid #b0b0b0;
	color: #606060;
	display: block;
	margin-top: 8px;
	padding: 5px 4px 4px 10px;
	position: relative;
	text-transform: uppercase;
	width: 140px;
}

.nav:hover {
	background: #f8f9fa;
	border: 1px solid #909090;
	color: #303030;
	text-decoration: none;
}

.sub {
	font-size: 0.8em;
	letter-spacing: 1px;
	margin: 3px 0 2px 10px;
	padding: 4px 2px 2px 8px;
	width: 125px;
}

/*** Content ***/
#content,#contentalt {
	/*background-color: #FFFFFF;*/	
	padding: 15px 20px 5px;	
    border: 1px solid #909090;
    color: #2a2a2a;	
    text-align:left;
     
}

#content {	
	margin: 0 200px;
    border: 1px solid #909090;
    color: #2a2a2a;
	padding: 15px 20px 5p;
    text-align:left;
}

#contentalt {
	margin: 0 200px 0 20px;
}

#content h1,#content h2,#contentalt h1,#contentalt h2 {
	background-color: inherit;
	color: #606060;
	font-size: 1.8em;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0 0 15px;
	padding: 0;
}

#content h2,#contentalt h2 {
	font-size: 1.6em;
	margin-bottom: 10px;
}

#content img,#contentalt img {
	border: 1px solid #b0b0b0;
	float: left;
	margin: 5px 15px 6px;
	padding: 5px;
}

/*** Footer ***/
#footer {
	background: #8b8b8b url(../images/footerbg.jpg) top left repeat-x;
	clear: both;
	color: #d0d0d0;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

#footer a {
	color: #d0d0d0;
	font-weight: bold;
}

/*** Various classes ***/
.thumbnail {
	background: #fafbfc;
	border: 1px solid #b0b0b0;
	margin: 0 0 10px 10px;
	padding: 5px;
}

.searchform {
	margin: 0;
}

.searchbox {
	background: #f0f0f0;
	border: 1px solid #b0b0b0;
	margin: 0 4px 0 0;
	width: 100px;
}

.searchbutton {
	background: #f0f0f0;
	border: 1px solid #b0b0b0;
}

.clearingdiv {
	clear: both;
	height: 30px;
	width: 1px;
}

.hide {
	display: none;
}

/*** Text format ***/
.intro {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: -1px;
}

.small {
	font-size: 0.8em;
}

.large {
	font-size: 1.4em;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

#smart_city_content {

    }
    #smart_city_content dd {
        float:left;
        width:300px;
        height:100px;
        margin:5px 5px 5px 10px;
        cursor:pointer;
        zoom:1;
    }
    #smart_city_content dd img {
        width:90px;
        height:60px;
        margin:5px 0 0 5px;
        float:left;
    }

    #smart_city_content dd div {
        float:left;
        width:160px;
        margin-left:10px;
    }

    #smart_city_content dd h4 {
        font-family:tahoma,arial,san-serif;
        color:#555;
        font-size:11px;
        font-weight:bold;
    }
    #smart_city_content dd p {
        color:#777;
    }
    #smart_city_content dd.over {
        background: #F5FDE3 url(shared/extjs/images/sample-over.gif) no-repeat;
    }
    #loading-mask{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:20000;
        background-color:white;
    }
    #loading{
        position:absolute;
        left:45%;
        top:40%;
        padding:2px;
        z-index:20001;
        height:auto;
    }
    #loading a {
        color:#225588;
    }
    #loading .loading-indicator{
        background:white;
        color:#444;
        font:bold 13px tahoma,arial,helvetica;
        padding:10px;
        margin:0;
        height:auto;
    }
    #loading-msg {
        font: normal 10px arial,tahoma,sans-serif;
    }

    #smart_city_content .x-panel-body {
        background-color:#fff;
        border:1px solid;
        border-color:#fafafa #fafafa #fafafa #fafafa;
    }
    #sample-ct {
        border:1px solid;
        border-color:#dadada #ebebeb #ebebeb #dadada;
        padding:2px;
    }

    #smart_city_content h2 {
        border-bottom: 2px solid #99bbe8;
        cursor:pointer;
        padding-top:6px;
    }
    #smart_city_content h2 div {
        background:transparent url(../resources/images/default/grid/group-expand-sprite.gif) no-repeat 3px -47px;
        padding:4px 4px 4px 17px;
        color:#3764a0;
        font:bold 11px tahoma, arial, helvetica, sans-serif;
    }
    #smart_city_content .collapsed h2 div {
        background-position: 3px 3px;
    }
    #smart_city_content .collapsed dl {
        display:none;
    }
    .x-window {
        text-align:left;
    }
    #smart_city_content dd h4 span.new-sample{
        color: red;
    }

    #smart_city_content dd h4 span.updated-sample{
        color: blue;
    }
    
    /* Style for login form */
 /* body {background:#cbd9e7 url() repeat-x center center;} */
  #login-win .x-window-mc {
      background:#fff none;
      border:1px solid #eee;
  }
  #login-logo .x-plain-body {
      background:#f9f9f9 url(./images/smart_city_logo.jpg) no-repeat center center;
  }
  #login-form .x-plain-body {
      background:#f9f9f9 url() repeat-x center center;
      color:#222;
      padding:13px 0  0 45px ;
      border-top:1px solid #000000;
  }
  #login-win .x-window-body {
      background:#FFFFFF none repeat scroll 0%;
      border:1px solid #99BBE8;
  }

  #login {
      margin:135px 0px; padding:0px;
      text-align:center;
  }

  #login .login_error_message {
      color:red;
      width:260px;
      margin:0px auto;
      text-align:left;
      padding:10px;
      border-top:1px dashed #499ede;
      border-bottom:1px dashed #499ede;
      background-color:#EEF;
  }
    
/*** End of file ***/